div.participant-list {
  margin-top: 50px;
  margin-bottom: 20px;
}

div.participant-list, div.data-list {
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
}

div.participant-list-item {
  float: left;
  padding: 0 10px 0 10px;
}

a>div.participant-list-item:hover {
  background-color: lightblue;
}

div.participant-list-item-selected {
  font-weight: bold;
  background-color: lightblue;
}

div.nav-item {
  font-size: 20px;
  margin: 10px;
}

div.nav-item-prev {
  float: left;
}

div.nav-item-next {
  float: right;
  text-align: right;
}

div.nav-item-current {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

img.distance {
  width: 100%;
}

div.data-list-row {
  display: block;
  width: 100%;
}

div.data-list-first, div.data-list-row-first {
  margin-top: -20px;
}

div.data-list-row-last {
  margin-bottom: -20px;
}

div.data-list-row-valid {
  background-color: #bfe8bb;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.data-list-row-cell-title {
  display: table-cell;
  width: 180px;
  padding-left: 10px;
  padding-right: 5px;
  vertical-align: middle;
}

div.data-list-row-cell-title-contents {
  width: 100%;
  display: inline-block;
  text-align: center;
}

div.data-list-row-cell-figure {
  display: table-cell;
  width: 450px;
  padding-left: 5px;
  padding-right: 5px;
}

div.data-list-row-cell-features {
  display: table-cell;
}

hr {
  border-color: black;
}

div.data-list-row-valid > div.data-list-row-cell-figure > a > img {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}